.map {
    height: 400px;
    width: 100%;
    margin-bottom: 1rem;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
}

.github-fork-ribbon:before {
    background-color: #090;
}

.github-fork-ribbon:after {
    border: 0;
}
